* {
  box-sizing:border-box;
  font-size:16px;
}
.row {
  padding-top:15px;
  padding-bottom:15px;
}
button a {
  text-decoration:none!important;
}
.container {
  max-width:960px;
  margin:0 auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inverted {
  color:white;
  background-color:black;
}
.large {
  font-size:20px;
}
.small {
  font-size:12px;
}

td {
  padding:1px 3px!important;
  line-height:1em;
  text-align:center!important;
  vertical-align:middle!important;
  /*border:1px solid gray;*/
  font-size:inherit;
  position:relative;
}
td:first-letter {
  text-transform:uppercase;
}
input[type="number"] {
  width:100%;
  max-width:30px;
  border:none;
  text-align:center;
  outline:none;
  border-bottom:2px dotted gray;
  cursor:ns-resize;
}
input[type="number"]::selection {
  background-color:#eee;
}
input[type="text"] {
  border:none;
  text-align:center;
  outline:none;
}

.block {
  float:left;
}

tr {
  position:relative;
}
td>span {
  cursor:pointer;
}
/*.glyphicon-remove:hover {
  color:#e00;
}
.glyphicon-plus:hover {
  color:#0e0;
}*/

table {
  position:relative;
}
.bonus-anchor {
  position:relative;
  cursor:pointer;
  -webkit-user-select: none;
}
.bonus-popup {
  position:fixed;
  top:30px;
  right:30px;
  z-index:10;
  width:320px;
}
.bonus-popup-container {
  padding:0!important;
  border:0!important;
  position:relative;
}
.glyphicon-chevron-down {
  position:absolute;
  top:2px;
  right:2px;
  font-size:10px;
}
.glyphicon-remove-circle {
  position:absolute;
  font-size:24px;
  top:-0.5em;
  right:-0.5em;
  display:block;
}