* {
  box-sizing:border-box;
  font-size:16px;
  margin:0;
  padding:0;
}
.row {
  padding-top:15px;
  padding-bottom:15px;
}
button a {
  text-decoration:none!important;
}
.container {
  max-width:960px;
  margin:0 auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inverted {
  color:white;
  background-color:black;
}
.large {
  font-size:20px;
}
.small {
  font-size:12px;
}

.table {
  display:table;
  border:none;
}
.tr {
  display:table-row;
  position:relative;
}
.table-header {
  font-weight:bold;
  text-align:center;
}
.fullwidth {
  width:100%;
  text-align:center;
}
.tr:last-of-type .td {
  border-bottom:1px solid lightgray;
}
.td {
  display:table-cell;
  padding:0;
  line-height:30px;
  height:30px!important;
  text-align:center!important;
  vertical-align:middle!important;
  /*border:1px solid gray;*/
  font-size:inherit;
  position:relative;
  border-top:1px solid lightgray;
  border-right:1px solid lightgray;
}
.td:first-of-type {
  border-left:1px solid lightgray;
}
.td:first-letter {
  text-transform:uppercase;
}
input[type="number"] {
  width:100%;
  max-width:30px;
  border:none;
  text-align:center;
  outline:none;
  cursor:ns-resize;
}
input[type="number"]::selection {
  background-color:#eee;
}
input[type="text"] {
  border:none;
  text-align:center;
  outline:none;
  border-bottom:1px solid black;
  max-width:100px;
}

.block {
  float:left;
}

.glyphicon-plus,
.glyphicon-remove,
.glyphicon-remove-circle {
  cursor:pointer;
}
/*.glyphicon-remove:hover {
  color:#e00;
}
.glyphicon-plus:hover {
  color:#0e0;
}*/

.table {
  position:relative;
}
.bonus-anchor {
  position:relative;
  cursor:pointer;
  -webkit-user-select: none;
}
.bonus-popup {
  position:fixed;
  top:30px;
  right:30px;
  z-index:10;
  width:320px;
}
.bonus-popup-container {
  padding:0!important;
  border:0!important;
  position:relative;
}
.glyphicon-chevron-down,
.glyphicon-resize-vertical {
  position:absolute;
  top:2px;
  right:2px;
  font-size:10px;
}
.glyphicon-remove-circle {
  position:absolute;
  font-size:24px;
  top:-0.5em;
  right:-0.5em;
  display:block;
}