<section class="attributes">
  <div class="header">Attributes</div>
  <div class="table table-bordered">
    <div class="tr">
      <div class="td">Name</div>
      <div class="td">Value</div>
      <div class="td">Mod</div>
      <div class="td">Base</div>
      <div class="td">Bonus</div>
    </div>
    <div class="tr large" ng-repeat="attribute in character.attributes | toArray | orderBy:'index'">
      <div class="td large">{{attribute.name | uppercase | limitTo:3}}</div>
      <div class="td">{{attribute.value||10}}</div>
      <div class="td">{{attribute.mod||0}}</div>
      <div class="td"><input type="number" ng-model="attribute.basevalue" spinner></div>
      <div class="td">{{attribute.bonus}}</div>
    </div>
  </div>
</section>