<div class="col-xs-12">
<table class="table table-bordered">
  <tr>
    <td>Level
    <td>Class
    <td>BAB
    <td>Fort
    <td>Ref
    <td>Will
    <td>HP
    <td>Skills
  </tr>
  <tr class="large" ng-repeat="level in character.levels | toArray | orderBy:'index'">
    <td>{{level.index}}
    <td>{{level.name}}
    <td>{{level.bab}}
    <td>{{level.fort}}
    <td>{{level.ref}}
    <td>{{level.will}}
    <td>{{level.hp}}
    <td>{{level.skills}}
    <td><span class="glyphicon glyphicon-remove" ng-click="removeLevel(level.index)"></span>
  </tr>
  
  <tr class="large">
    <td><input type="number" ng-model='addLevelForm.index' spinner required>
    <td><input type="text" ng-model='addLevelForm.name' required>
    <td>
      <select ng-model="addLevelForm.bab" required>
        <option value="good">Good</option>
        <option value="medium">Medium</option>
        <option value="bad">Bad</option>
      </select>
    <td>
      <select ng-model="addLevelForm.fort" required>
        <option value="good">Good</option>
        <option value="bad">Bad</option>
      </select>
    <td>
      <select ng-model="addLevelForm.ref" required>
        <option value="good" selected>Good</option>
        <option value="bad">Bad</option>
      </select>
    <td>
      <select ng-model="addLevelForm.will" required>
        <option value="good">Good</option>
        <option value="bad">Bad</option>
      </select>
    <td><input type="number" ng-model='addLevelForm.hp' spinner required>
    <td><input type="number" ng-model='addLevelForm.skills' spinner required>
    <td><span class="glyphicon glyphicon-plus" ng-click="addLevel()"></span>
  </tr>
</table>
<pre>{{addLevelForm | json}}</pre>
</div>