<div class="row">
  <div class="col-md-4">
    <div ng-include="'partials/attributes.html'"></div>
    <div ng-include="'partials/offense.html'"></div>
    <div ng-include="'partials/defense.html'"></div>
  </div>

  <div class="col-md-4">
    <div ng-include="'partials/saves.html'"></div>
    <div ng-include="'partials/movement.html'"></div>
  </div>  
    
  <div class="col-md-4">
    <div ng-include="'partials/effects.html'"></div>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-4" ng-include="'partials/movement.html'"></div>
</div>-->