<section class="saves">
  <div class="header">Saves<span class="glyphicon glyphicon-cog" data-modal="modal-savesettings" modaltoggle></span></div>
  <table class="table">
    <tr>
      <td>Name
      <td>Value
      <td>Base
      <td>Attribute
      <td>Bonus
    </tr>
    <tr class="large" ng-repeat="save in character.saves | toArray | orderBy:'index'">
      <td class="large">{{save.name | uppercase}}
      <td>{{save.value}}
      <td>{{save.base | parseInt}}
      <td>{{save.attribute | uppercase | limitTo:3}} {{save.statbonus||0}}
      <td class='bonus-anchor' data-modal="modal-{{save.name}}" modaltoggle>{{save.bonus}} <span class="glyphicon glyphicon-chevron-down"></span></td>
      
      <td class='bonus-popup-container'>
        <div class="modal fade" id="modal-{{save.name}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <table class="table">
                <tr class="header"><td colspan="3">{{save.name | uppercase}} breakdown</td></tr>
                <tr>
                  <td>Source</td>
                  <td>Type</td>
                  <td>Value</td>
                </tr>
                <tr class="large" ng-repeat="bonus in save.bonuses">
                  <td>{{bonus.source}}</td>
                  <td>{{bonus.type}}</td>
                  <td>{{bonus.value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </td>
      
    </tr>
  </table>
</section>

<div class="modal fade" id="modal-savesettings" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header">Save attribute dependency</div>
      <table class="table">
        <tr class="large" ng-repeat="save in character.saves">
          <td>{{save.name | uppercase}}
          <td>
            <select ng-model="save.attribute" ng-options="value.name as value.name for (key , value) in character.attributes | toArray | orderBy:'index'">
              <!--<option ng-repeat="attribute in character.attributes" value="{{attribute.name}}">{{attribute.name}}</option>-->
            </select>
        </tr>
      </table>
    </div>
  </div>
</div>