<div class="col-xs-12">
<div class="table-responsive">
<table class="table">
  <tr>
    <td>Name
    <td>Value
    <td>Attr
    <td>Bonus
    <td>Ranks
  </div>
  <tr ng-repeat="skill in character.skills | toArray | orderBy:'name'">
    <td>{{skill.name}}
    <td>{{skill.value}}
    <td>{{skill.attribute | uppercase | limitTo:3}} {{skill.statbonus||0}}
    <td><input type="number" ng-model="skill.bonus" spinner>
    <td><input type="number" ng-model="skill.ranks" spinner>
  </tr>
  <tr>
    <td><input type="text" ng-model='addSkillForm.name'>
    <td>
    <td>
      <select required ng-model="addSkillForm.attribute">
        <option ng-repeat="attribute in character.attributes" value="{{attribute.name}}">{{attribute.name | uppercase | limitTo:3}}</option>
      </select>
    <td>
    <td>
    <td><span class="glyphicon glyphicon-plus" ng-click="addSkill()"></span>
  </tr>
</table>
</div>
</div>