<!doctype html>
<html lang="en" ng-app="ucApp">
<head>
  <meta charset="utf-8">
  <title>Campaign</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/services.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-controller="MapCtrl">
<!--<div id="top-navbar" ng-include="'partials/top-navbar.html'"></div>-->
<div id="map-wrapper">
  <div id="map" class="zoom1" data-zoom="1">
    <div id="hexes-anchor" ng-model="globalMap">
      <div class="hex {{hex.terrain}}" data-x="{{hex.x}}" data-y="{{hex.y}}" ng-click="hexClick(hex.x, hex.y)" ng-repeat="hex in globalMap" on-last-repeat map-drawer>
        <canvas width="152" height="172" id="{{hex.x}}-{{hex.y}}-canvas"></canvas>
        <div class="hex-text">{{hex.x}} {{hex.y}}</div>
      </div>
    </div>
  </div>
</div>

<div id="debug"></div>

<div id="side-menu" ng-include="'partials/add-hexes-menu.html'"></div>

<div notificationSwitch></div>

<script>
//draggable
jQuery(document).ready(function(){
  jQuery('html').css('height', jQuery(window).height());
  jQuery('#map-wrapper').css('height', jQuery(window).height());
});
</script>
<script>
//draggable
jQuery(document).ready(function(){
  jQuery('#map').bind('mousewheel', function(e){
    if(e.originalEvent.wheelDelta > 0) {
      if(jQuery(this).data('zoom') > 1) {
        jQuery(this).data('zoom', jQuery(this).data('zoom') - 1);
        jQuery('#debug').append("zoomed in" + jQuery(this).data('zoom') + "<br>");
      }
    } else if(jQuery(this).data('zoom') < 3){
      jQuery(this).data('zoom', jQuery(this).data('zoom') + 1);
      jQuery('#debug').append("zoomed out" + jQuery(this).data('zoom') +"<br>");
    }
    jQuery(this).removeClass('zoom1').removeClass('zoom2').removeClass('zoom3').addClass('zoom'+jQuery(this).data('zoom'));
  });

  jQuery('#map').draggable();
});
</script>
</body>
</html>
