<section class="attributes">
  <div class="header">Attributes</div>
  <table class="table">
    <tr>
      <td>Name
      <td>Value
      <td>Mod
      <td>Base
      <td>Bonus
    </tr>
    <tr class="large" ng-repeat="attribute in character.attributes | toArray | orderBy:'index'">
      <td class="large">{{attribute.name | uppercase | limitTo:3}}
      <td>{{attribute.value||10}}
      <td>{{attribute.mod||0}}
      <td><input type="number" ng-model="attribute.basevalue" spinner>
      <td>{{attribute.bonus}}
    </tr>
  </table>
</section>